<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   
    
</head>
<body>
    <form method="POST">
        <p>
            Súly: <input type="number" name="suly"  required>
        </p>
        <p>
            Szeme színe: <input type="text" name="szem_szin" required>
        </p>
  
        <p>
            <input type="submit" value="New painting">
        </p>
    </form>
    <h1><a href="fooldal">Back</a></h1>
</body>
</html>
