<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ASd</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    
</head>
<body>

  <form action="" method="get">
    <input type="text" name="search">
    <input type="submit" value="Search">
  </form>
    <table>
      <thead>
        <tr><td>Suly</td><td>Szem szín</td></tr>
      </thead>
      <tbody>
        <% for(let m of macskak) { %>
          <tr><td><%= m.suly %></td><td><%= m.szem_szin %></td></tr>
        <% } %>
      </tbody>
    </table>
    <h1><a href="new">New Cat</a></h1>
</body>
</html>
